.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.button {
  background-color: aliceblue;
  color: #070f2b;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 8px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.background {
  color: aliceblue;
  background-color: #070f2b;
  padding: 10px;
}

.color {
  color: aqua;
}
