.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.checkbox {
  appearance: none;
  margin: 0;
  display: grid;
  place-content: center;
  color: #535c91;
  width: 2em;
  height: 2em;
  border: 0.15em solid currentColor;
  border-radius: 0.5em;
}

.checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
}

.checkbox:disabled {
  color: #eeeeee;
  cursor: not-allowed;
}
