.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.radio {
  appearance: none;
  margin: 0;
  background-color: #fff;
  width: 2em;
  height: 2em;
  color: #535c91;
  border: 4px solid #535c91;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transform: translateY(-0.075em);
}

.radio::before {
  content: "";
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #dac0a3;
  background-color: #dac0a3;
}

.radio:checked::before {
  transform: scale(1);
}
