h1 {
  color: hotpink;
  font-family: cursive;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}
